.content {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: row;
  height: 100vh;
  margin-top: 30px;
}
.beginner {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .three-buttons-row {
    margin-top: -325px;
    margin-left: 15px;
    width: 130px;
    display: flex;
    justify-content: space-between;
  }
}

.word-cloud {
  width: 58.5rem;
  height: 46rem;
  display: flex;
  justify-content: space-between;
}

.lista-tweets {
  width: 58.5rem;
  height: 46rem;
  display: flex;
  justify-content: flex-end;
}

.save-tweets{
  position: absolute;
  z-index: 1;
  margin-top: 10px;
}
::ng-deep .p-tooltip-text{
  width: 33.5rem !important;
}
.graphs{
  width: 58.5rem;
  height: 46rem;
  display: flex;
  justify-content: space-between;
}
.advanced {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 292px;
  }

  .three-buttons-row {
    margin-top: -45px;
    margin-left: 15px;
    width: 130px;
    display: flex;
    justify-content: space-between;
  }
}

.two-buttons-row {
  margin-bottom: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
