<p-toast position="bottom-center"></p-toast>
<section class="content" [ngClass]="{'advanced': advanced == true, 'beginner': advanced == false}">
  <section class="form">
    <section class="twitter-section">
      <h2 style="
      margin: 1.5rem 0 1rem;
      font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color emoji;
      font-weight: 600;
      line-height: 1.2;
      color: #495057;
      ">Análise via Twitter</h2>
      <span style="margin-top:40px;" class="p-float-label">
        <input class="inputs" id="keyword" [(ngModel)]="keyword" type="text" (keydown.enter)="submitForTweetAnalysis()" pInputText>
        <label for="keyword">Palavra-chave</label>
      </span>
      <span style="margin-top:40px;" *ngIf="advanced" class="p-float-label">
        <input class="inputs"  id="limit" [(ngModel)]="limit" type="text" pInputText>
        <p-slider [(ngModel)]="limit" [min]="100" [max]="1000"></p-slider>
        <label for="limit">Quantidade de tweets para análise</label>
      </span>
      <span style="margin-top:40px;" *ngIf="advanced" class="p-float-label">
        <p-calendar class="inputs" (onClose)="updateDateRange()" [selectOtherMonths]="selectOtherMonths" dateFormat="dd.mm.yy" [minDate]="minDateValue" [maxDate]="maxDateValue"
          [(ngModel)]="rangeDates" selectionMode="range" inputId="range"></p-calendar>
        <label for="until">Tweets analisados dentro deste intervalo:</label>
      </span>
  
      <section class="two-buttons-row">
        <p-button (click)="advanced = !advanced" label="Avançado"></p-button>
        <button pButton type="button" label="Analisar" (click)="submitForTweetAnalysis()" class="p-button-success"></button>
      </section>
    </section>

    <p-divider align="center">
      <b style="
      margin: 1.5rem 0 1rem;
      font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color emoji;
      font-weight: 600;
      line-height: 1.2;
      color: #495057;
      ">OU</b>
    </p-divider>
    <section class="upload-section">
      <h2 style="
      margin: 1.5rem 0 1rem;
      font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color emoji;
      font-weight: 600;
      line-height: 1.2;
      color: #495057;
      ">Analise seu texto</h2>
      <!-- <p-fileUpload name="myfile[]" accept=".txt" [customUpload]="true" (uploadHandler)="myUploader($event)" mode="basic" [auto]="true" chooseLabel="Escolha um arquivo"></p-fileUpload> -->
      <textarea style="margin-bottom: 10px;width: 400px; height:500px; resize: none;overflow-y: scroll;" (keydown.enter)="submitForTextAnalysis()" pInputTextarea [autoResize]="autoResize" [(ngModel)]="textToAnalysis"></textarea>
      
      <section class="two-buttons-row">
        <p-button (click)="textToAnalysis = ''" label="Limpar"></p-button>
        <button pButton type="button" label="Analisar" (click)="submitForTextAnalysis()" class="p-button-success"></button>
      </section>
    </section>
  </section>

  <p-tabView [scrollable]="true">
    <p-tabPanel header="Sentimentos (Gráfico em Barra)">
      <section *ngIf="hasContent" class="graphs">
        <p-chart type="bar" [style]="{'width': '80%', 'height': '80%'}" [data]="multiAxisData" [options]="multiAxisOptions"></p-chart>
        <p-button (onClick)="downloadImage(0)">Salvar gráfico</p-button>
      </section>
    </p-tabPanel>
    <p-tabPanel header="Sentimentos (Gráfico Radar)">
      <section *ngIf="hasContent" class="graphs">
        <p-chart type="radar" [style]="{'width': '60%', 'height': '60%'}" [data]="dataSent" [options]="chartOptionsSent"></p-chart>
        <p-button (onClick)="downloadImage(1)">Salvar gráfico</p-button>
      </section>
    </p-tabPanel>
    <p-tabPanel header="Polarização">
      <section *ngIf="hasContent" class="graphs">
        <p-chart type="doughnut" [style]="{'width': '60%', 'height': '60%'}" [data]="dataPol" [options]="chartOptionsPol"></p-chart>
        <p-button (onClick)="downloadImage(2)">Salvar gráfico</p-button>
      </section>
    </p-tabPanel>
    <p-tabPanel header="Nuvem de palavras">
      <section class="word-cloud">
        <div>
          <canvas id="wordcloudCanvas" width="800" height="600"></canvas>
        </div>
        <p-button *ngIf="hasContent" (onClick)="downloadImage(3)">Salvar gráfico</p-button>
      </section>
    </p-tabPanel>
    <p-tabPanel *ngIf="isTweetAnalysis" header="Lista de tweets">
      <section *ngIf="hasContent" class="lista-tweets">
        <p-button class="save-tweets" (onClick)="downloadTweets()">Salvar tweets</p-button>
        <p-table #table scrollHeight="flex" [value]="tweets" [paginator]="true" [rows]="10"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
          [rowsPerPageOptions]="[5,10]">
          <ng-template pTemplate="header">
            <tr>
              <th>Tweet</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-tweet>
            <tr>
              <td>{{tweet.text}}</td>
            </tr>
          </ng-template>
        </p-table>
      </section>
    </p-tabPanel>
  </p-tabView>
</section>