<p-toast position="bottom-center"></p-toast>
<section class="content" [ngClass]="{'advanced': advanced == true, 'beginner': advanced == false}">
  <section class="form">
    <span class="p-float-label">
      <input id="keyword" [(ngModel)]="keyword" type="text" pInputText>
      <label for="keyword">Palavra-chave</label>
    </span>
    <span *ngIf="advanced" class="p-float-label">
      <input id="limit" [(ngModel)]="limit" type="text" pInputText>
      <label for="limit">Quantidade de tweets para análise</label>
    </span>
    <span *ngIf="advanced" class="p-float-label">
      <p-calendar (onClose)="updateDateRange()" dateFormat="dd.mm.yy" [minDate]="minDateValue" [maxDate]="maxDateValue" [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range"></p-calendar>
      <label for="until">Tweets analisados dentro deste intervalo:</label>
    </span>

    <section class="two-buttons-row">
      <p-button (click)="submitForTweetAnalysis()" label="Analisar"></p-button>
      <p-button (click)="advanced = !advanced" label="Avançado"></p-button>
    </section>
  </section>

  <p-tabView>
    <p-tabPanel header="Sentimentos">
      <p-chart type="radar" [data]="dataSent" [options]="chartOptionsSent" [style]="{'width': '40%'}"></p-chart>
    </p-tabPanel>
    <p-tabPanel header="Polarização">
      <p-chart type="doughnut" [data]="dataPol" [options]="chartOptionsPol" [style]="{'width': '40%'}"></p-chart>
    </p-tabPanel>
    <p-tabPanel header="Nuvem de palavras">
      <canvas id="wordcloudCanvas" width="600" height="400"></canvas>
    </p-tabPanel>
    <p-tabPanel header="Lista de tweets">
      <p-table [value]="tweets" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Tweet</th>
                <th>Polarização</th>
                <th>Sentimento</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tweet>
            <tr>
                <td>{{tweet.text}}</td>
                <td>{{tweet.pol}}</td>
                <td>{{tweet.sent}}</td>
            </tr>
        </ng-template>
    </p-table>
    </p-tabPanel>
</p-tabView>
</section>