@media screen and (max-width: 1680px){
  p-tabView{
    width: 50vw;
  }
  .graphs{
    width: 38.5rem !important;
  }
  .word-cloud {
    width: 38.5rem !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .lista-tweets {
    width: 38.5rem !important; 
  }
  #wordcloudCanvas{
    width: 600px !important;
    height: 400px !important;
  }
}
p-tabView{
  width: 55vw;
}
.content {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  margin-left:10vw;
}
::ng-deep p-button{
  button{
    white-space: nowrap !important;
  }
}
.beginner {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    margin-right: 50px;
  }

  .three-buttons-row {
    margin-top: -325px;
    margin-left: 15px;
    width: 130px;
    display: flex;
    justify-content: space-between;
  }
}

.word-cloud {
  width: 58.5rem;
  display: flex;
  justify-content: space-between;
}

.lista-tweets {
  width: 58.5rem;
  display: flex;
  justify-content: flex-end;
}

.save-tweets{
  position: absolute;
  z-index: 1;
  margin-top: 10px;
}
::ng-deep .p-tooltip-text{
  width: 33.5rem !important;
}
.inputs{
  width: 400px;
}
::ng-deep .inputs input{
  width: 400px !important;
}
.graphs{
  width: 58.5rem;
  height: 46rem;
  display: flex;
  justify-content: space-between;
}
.advanced {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 292px;
    width: 400px;
    margin-right: 50px;
  }

  .three-buttons-row {
    margin-top: -45px;
    margin-left: 15px;
    width: 130px;
    display: flex;
    justify-content: space-between;
  }
}

.two-buttons-row {
  margin-bottom: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
